﻿@model IEnumerable<EventMgmt.Common.Models.Event>
@{
    var customer = Model.FirstOrDefault()?.Customer;

    var Items = new List<SelectListItem> {
        new SelectListItem { Value = "Customer1", Text = "Customer 1", Selected = (customer == "Customer1") },
        new SelectListItem { Value = "Customer2", Text = "Customer 2", Selected = (customer == "Customer2") },
        new SelectListItem { Value = "Customer3", Text = "Customer 3", Selected = (customer == "Customer3") },
        new SelectListItem { Value = "Customer4", Text = "Customer 4", Selected = (customer == "Customer4") }
    };
}

<select asp-items="Items" id="customList">
    <option value="">Please select one</option>
</select>

<br />
<br />

<h1>TEST</h1>
<label>Events:</label>
<ul>
    @foreach (var entity in Model)
    {
        <li>@entity.Name</li>
    }
</ul>

@if (customer != null)
{
    <br />
    <form action="/home/create" method="post">
        <input type="text" name="customer" readonly value="@customer" hidden />
        <label>New Event:</label> <input type="text" name="name" />
        <input type="submit" value="save" />
    </form>
}

<script type="text/javascript">
    document.getElementById('customList').addEventListener('change', function () {

        var customer = this.options[this.selectedIndex].value;

        fetch(new Request('/home/index', {
            method: 'GET',
            headers: {
                'X-Customer': customer
            },
            mode: 'cors',
            cache: 'default',
        }))
            .then(async r => {
                document.open();
                document.write(await r.text());
                document.close();
            })
            .catch(e => console.error('Boo...' + e));
    });
</script>